name: Deploy Hair AI Function

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node 20
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
      
      # Install dependencies only for the functions folder
      - name: Install Functions Dependencies
        run: npm install
        working-directory: functions

      - name: Deploy to Firebase Functions
        uses: FirebaseExtended/action-hosting-deploy@v0 
        with:
          entryPoint: . 
          projectId: esdras-backend 
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ESDRAS_BACKEND }}
          target: functions
